<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<head><link rel="stylesheet" type="text/css" href="stylesheet.css"></head>

<body>
<img src="doyouevenbanner.png" class="displayed">
<h1></h1>
  

  <% if (user) { %>
    Logged in as <%= user.email %><br>
    <a href="/logout">Logout</a>
  

  <% } else { %>
   
    <div>
      <a href="/login">Log In </a>
    </div>
    <div>
      <a href="/sign_up">Sign Up</a>
    </div>
  <% } %>


</body>
</html>
