<!--views/users/login.ejs-->
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<title>Do you even/SignUp</title>

	<body id="homeSignUp">
 <h1>The Login Page!</h1>


<form method="post" action="/users"id="center">
      <div>
        <input type="text" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="text" name="user[password]" placeholder="Password">
      </div>
      <button>Save </button>
    </form>

	</body>
</html>
