<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<title>Do you even/MainPage</title>
</head>
	


	<body id="mainpage">
      
      <h1>MainPage</h1>

<form method="post" action="/posts" id="center">
      <div>
           <input type="text" name="comment[user]" placeholder="UserName">
      </div>

      <div>
  <textarea name='comment[message]' id='Comment' placeholder="Comment"></textarea><br />
      </div>
      <button>SAVE</button>
    </form>


</body>
</html>