<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<title>Do you even/MainPage</title>
</head>
	<body id="mainpage">
	<img src="doyouevenbanner.png" class="displayed">
      
      <h1>Trending Post/Main Page</h1>

</body>
</html>