#ThreadPage {
	background-color: gray;
}

#mainpage {
	background-color: gray;
}

#homeSignup {
	background-color: teal;
}

h1 {text-align: center;}

#center {
	text-align: center;
}

#Login{
	background-color: teal;
}
#Sign_up{
	background-color: green;
}

#login{
	background-color: teal;
}
