<!--views/users/login.ejs-->
<!DOCTYPE html>

<html>
  <head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body id="login">
  <img src="doyouevenbanner.png" class="displayed">
    <h1>The Login Page!</h1>
    <form method="post" action="/login" id="center">
      <div>
        <input type="text" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="text" name="user[password]" placeholder="Password">
      </div>
      <button>Save </button>
    </form>
  </body>
</html>
