<!--views/users/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body id="Sign_up">
    <h1>Sign Up Page!</h1>
    <form method="post" action="/users" id="center">
      <div>
        <input type="text" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="text" name="user[password]" placeholder="Password">
      </div>
      <button>Save </button>
    </form>
  </body>
</html>
